#article-md-preview {
    border-top: 0.16rem solid;
    border-color: rgb(233,233,233);
    padding: 2rem
}

.update-time-wrapper p{
    margin-left: 1rem;
    display: inline-block;
}

.update-time-wrapper time{
    display: inline-block;
}
