

.article-list{

}

.article-item{
    border-top: 0.16rem solid;
    border-color: rgb(203,203,203);
}

.title{
    color: black;
    margin: 0.5rem 1rem;
    font-size: 1.8rem;
}
.time{
    color: rgb(119,128,135);
    margin: 0.5rem 1rem;
    font-size: 1rem;
}
