
.article-item{
    border-top: 0.16rem solid;
    border-color: rgb(203,203,203);
}

.article-list :hover{
    animation: beGrey .4s linear 0s normal forwards;
}
@keyframes beGrey {
    from {
        background-color: rgb(245, 245, 245);
    }
    to {
        background-color: rgb(230, 230, 230);
    }
}

.article-list :hover > div{
    animation: none;
}

.title{
    color: black;
    padding: 0.6rem 1rem;
    font-size: 1.7rem;
}
.time{
    display: inline-block;
    color: rgb(119,128,135);
    padding: 0rem 1rem 0.5rem 1rem;
    font-size: 1rem;
}

.love-number{
    display: inline-block;
    position:  relative;
    left: 0.8rem;
}
.love-number p{
    display: inline-block;
    color: rgb(139,138,135);

}
.love-number img{
    display: inline-block;
    width: 1.2rem;

    position:  relative;
    top: 0.20rem;
}

.share-number{
    display: inline-block;
    position:  relative;
    left: 1.2rem;
}
.share-number p{
    display: inline-block;
    color: rgb(139,138,135);

}
.share-number img{
    display: inline-block;
    width: 1.1rem;

    position:  relative;
    top: 0.10rem;
}
