.love-main-side {
  height: 50rem;
  position: relative;
  color: white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-animation-name: change_photo;
          animation-name: change_photo;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
  .love-main-side img {
    max-width: 6rem;
    border-radius: 50%; }
  .love-main-side .SimplyY-wrapper {
    height: 15rem;
    top: 20rem;
    left: 2rem;
    position: absolute; }
    .love-main-side .SimplyY-wrapper #SimplyY {
      width: 3.8rem;
      margin: auto; }
  .love-main-side .love {
    top: 14rem;
    left: 26rem;
    position: absolute; }
    .love-main-side .love p {
      font-size: 6rem; }
  .love-main-side .love :hover {
    -webkit-animation: bigger_font_size 0.6s ease infinite alternate;
            animation: bigger_font_size 0.6s ease infinite alternate; }

@-webkit-keyframes bigger_font_size {
  from {
    font-size: 6rem; }
  to {
    font-size: 8rem; } }

@keyframes bigger_font_size {
  from {
    font-size: 6rem; }
  to {
    font-size: 8rem; } }
  .love-main-side .lovedays {
    font-size: 2rem;
    max-width: 5.4rem;
    line-height: 46rem;
    margin: auto; }
  .love-main-side .lp-wrapper {
    top: 20rem;
    right: 2rem;
    position: absolute; }
    .love-main-side .lp-wrapper #lp {
      width: 1rem;
      margin: auto; }
  .love-main-side .seconds {
    bottom: 2rem;
    right: 2rem;
    position: absolute; }

@-webkit-keyframes change_photo {
  0% {
    color: #009ad6;
    background-image: url("http://7xkpdt.com1.z0.glb.clouddn.com/star3_mini_mini.jpeg"); }
  30% {
    color: #40cae6;
    background-image: url("http://7xkpdt.com1.z0.glb.clouddn.com/star2_mini_mini.jpeg"); }
  60% {
    color: purple;
    background-image: url("http://7xkpdt.com1.z0.glb.clouddn.com/star2_mini_mini.jpeg"); }
  80% {
    color: #d6008b;
    background-image: url("http://7xkpdt.com1.z0.glb.clouddn.com/star1_mini_mini.jpeg"); }
  100% {
    color: #ec6adb;
    background-image: url("http://7xkpdt.com1.z0.glb.clouddn.com/star1_mini_mini.jpeg"); } }

@keyframes change_photo {
  0% {
    color: #009ad6;
    background-image: url("http://7xkpdt.com1.z0.glb.clouddn.com/star3_mini_mini.jpeg"); }
  30% {
    color: #40cae6;
    background-image: url("http://7xkpdt.com1.z0.glb.clouddn.com/star2_mini_mini.jpeg"); }
  60% {
    color: purple;
    background-image: url("http://7xkpdt.com1.z0.glb.clouddn.com/star2_mini_mini.jpeg"); }
  80% {
    color: #d6008b;
    background-image: url("http://7xkpdt.com1.z0.glb.clouddn.com/star1_mini_mini.jpeg"); }
  100% {
    color: #ec6adb;
    background-image: url("http://7xkpdt.com1.z0.glb.clouddn.com/star1_mini_mini.jpeg"); } }
