
/*导航栏样式*/
.nav-bar {
    position: fixed;
    width: 100%;
    font-size: 1.5rem;
    height: 3.8rem;
    line-height: 3.8rem;
    box-shadow: 0 0 2.0rem grey;
    background-color: white;
    z-index: 99;
}
.ul-navbar{
    height: inherit;
    margin-left: 9rem;
    list-style: none;
}
.ul-navbar > li {
    display: inline-block;
    height: 100%;

    padding-right: .8rem;
    padding-left: .8rem;
}

/*渐变动画，不包括第一个*/
.ul-navbar > li:nth-child(n + 2):hover{
    animation: beGrey .4s linear 0s normal forwards;
}
@keyframes beGrey {
    from {
        background-color: rgb(245, 245, 245);
    }
    to {
        background-color: rgb(233, 233, 233);
    }
}

/*去除链接样式*/

.ul-navbar > li  a {
    display: inline-block;
    text-decoration: none;
    color: black;
}


/*下拉菜单*/

.ul-navbar ul {
    position: absolute;
    list-style: none;
    background-color: white;
    display: none;
}

li:hover ul{
    display: block;
}

.ul-navbar > li > ul > li {
    background-color: white;
    margin-left: -0.8rem;
    padding-left: 0.8rem;
    padding-right: 1rem;
}

.ul-navbar > li > ul > li:hover {
    animation: beGrey .4s linear 0s normal forwards;
}
