
/*电脑或平板*/
@media screen and (min-width: 50rem) {
    .two-sides {
        padding: 6rem 0rem 0rem 10rem;
    }

/*two-sides style*/
    .main-content {
        width: 63rem;
        display: inline;
        float: left;
        box-shadow: 0 0 .8rem grey;
        margin-bottom: 5rem;
    }

    .sidebar {
        width: 16rem;
        position: fixed;
        margin: 0rem 8rem;
        display: inline;
        box-shadow: 0 0 .8rem grey;
    }


/*current-tag in main-content*/
    .current-tag{
        margin: 1rem;
        font-size: 1.5rem;
        font-family: Microsoft YaHei;

    }
    .current-tag a {
        font-size: 1.4rem;
        text-decoration: none;
        color: rgb(149,158,165);
        font-weight:lighter;
    }
    .current-tag a:hover {
        color: black;
    }


/*in sidebar style*/
    .avatar {
        padding: 1rem 2rem;
        max-width: 100%;
        border-radius: 50%;
    }

    .about-me {
        font-size: 2rem;
    }

    .contact {
        margin: 0rem 2rem 1.5rem 1.5rem;
        font-size: 1.2rem;
    }


    .email {
        padding-bottom: 0.5rem;
    }

    .contact a{
        color: #4078c0;
        text-decoration: none;
    }

    .contact a:hover{
        text-decoration: underline;
    }

    .column-tag-list {
        padding-top: 1rem;
        padding-left: 1.2rem;
    }

    .column-tag-list a , .column-tag-list p{
        font-size: 1.4rem;
        display: block;
        padding-bottom: 0.2rem;

        color: rgb(149,158,165);
        text-decoration: none;

    }

    .column-tag-list p{
        padding-bottom: 0.4rem;
        margin: 0.2rem 0.7rem;
        color: black;
        font-size: 1.7rem;
    }

    .column-tag-list a:hover{
        color: black;
    }

    .column-tag {
        border: 1rem;
    }

}
