

/*电脑或平板*/
@media screen and (min-width: 50rem) {
    .main-content {
        width: 60rem;
        display: inline;
        float: left;
        margin: 2rem 10rem;
        box-shadow: 0 0 .5rem grey;
    }
    .sidebar {
        width: 10rem;
        position: fixed;
        margin-right: 2rem;
        display: inline;
        margin-bottom: 5px;
    }
}
