$black: rgb(0,0,0);
$deep-grey: rgb(140,140,140);
$grey: rgb(160,160,160);
$light-grey: rgb(180,180,180);
$silver-sand: rgb(200, 200, 200);
$silver-light-sand: rgb(220, 220, 220);
$silver: rgb(233,233,233);
$light-silver: rgb(243,243,243);

$blue: #4078C0;
