// sizes
$main-side-height:50rem;
$lover-size:15rem;
$cat-image-size:6rem;

$lovedays-size:2rem;

// position
$img-top:20rem;
$padding:2rem;

// time
$animate-time: 9s;

.love-main-side {
    height:$main-side-height;
    position: relative;
    color: white;

    img {
        max-width: $cat-image-size;
        border-radius: 50%;
    }

    .SimplyY-wrapper {
        height: $lover-size;
        top: $img-top;
        left: $padding;

        position: absolute;

        #SimplyY {
            width: 3.8rem;
            margin: auto;
        }
    }

    .love {
        top: $padding*7;
        left: 26rem;
        position: absolute;
        p {
            font-size: 3*$lovedays-size;

        }

        // animation: change_color $animate-time infinite alternate;
        //
        // @keyframes change_color{
        //     0%{color: #009ad6;}
        //     50%{color: purple;}
        //     100%{color: #fc7aeb;}
        // }
    }


    .love :hover{
        animation: bigger_font_size .6s ease infinite alternate;

        @keyframes bigger_font_size {
            from {
                font-size: 3*$lovedays-size;
            }
            to{
                font-size: 4*$lovedays-size;
            }
        }

    }

    .lovedays {
        font-size: $lovedays-size;
        max-width: 2.7*$lovedays-size;
        line-height: $main-side-height - 4rem;
        margin: auto;

    }

    .lp-wrapper {
        top: $img-top;
        right: $padding;
        position: absolute;


        #lp {
            width: 1rem;
            margin: auto;
        }

    }
    .seconds {
        bottom: $padding;
        right: $padding;
        position: absolute;
    }

    background-size:100% 100%;
    background-repeat:no-repeat;

    animation-name: change_photo;
    animation-duration:$animate-time;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;

    @keyframes change_photo{
        0%{
            color: #009ad6;
            background-image: url("http://7xkpdt.com1.z0.glb.clouddn.com/star3_mini_mini.jpeg");
        }
        30%{
            color: #40cae6;
            background-image: url("http://7xkpdt.com1.z0.glb.clouddn.com/star2_mini_mini.jpeg");
        }

        60%{
            color: purple;
            background-image: url("http://7xkpdt.com1.z0.glb.clouddn.com/star2_mini_mini.jpeg");
        }
        80%{
            color: #d6008b;
            background-image: url("http://7xkpdt.com1.z0.glb.clouddn.com/star1_mini_mini.jpeg");
        }
        100%{
            color: #ec6adb;
            background-image: url("http://7xkpdt.com1.z0.glb.clouddn.com/star1_mini_mini.jpeg");

        }
    }


}
