// sizes
$main-side-heght:50rem;
$lover-size:15rem;
$cat-image-size:6rem;

// position
$img-top:15rem;

$padding:2rem;

.love-main-side {
    height:$main-side-heght;
    position: relative;

    img {
        max-width: $cat-image-size;
        border-radius: 50%;
    }

    .SimplyY-wrapper {
        height: $lover-size;
        top: $img-top;
        left: $padding;

        position: absolute;

        #SimplyY {
            width: 4rem;
            margin: auto;
        }
    }

    .lovedays {
        line-height: $lover-size;
    }

    .lp-wrapper {
        top: $img-top;
        right: $padding;
        position: absolute;


        #lp {
            width: 1.5rem;
            margin: auto;
        }

    }




}
