// layout
$nav-height: 45px;
$footer-height: $nav-height;

$body-max-width: 90%;
$main-container-width: 70%;
$sidebar-width: 20%;

// layout margin
$nav-body-margin: 30px;
$body-top-margin: $nav-height + $nav-body-margin;
$container-sidebar-margin: 5%;
$body-footer-margin: 50px;


html, body {
    height:100%;
}
#root {
    min-height:100%;
    position:relative;
}

.main-nav-bar {
    position: fixed;
    width: 100%;
    height: $nav-height;
    background-color: white;
    @include box-grey-shadow($nav-box-shadow-width)
}

.main-body {
    @include vertical-center($body-max-width);
    padding-top: $body-top-margin;
    padding-bottom: $body-footer-margin + $footer-height;
}

.main-container {
    float: left;
    width: $main-container-width;
    margin-right: $container-sidebar-margin;

    @include box-grey-shadow($container-shadow-width)
}

.main-sidebar {
    float: left;
    width: $sidebar-width;
    height: 400px;
    @include box-grey-shadow($container-shadow-width)
}

.main-footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    background-color: $silver-sand;
}
