// layout
$nav-height: 48px;

$body-max-width: 68rem;
$main-container-width: 74%;
$sidebar-width: 22%;

// layout margin
$nav-body-margin: 35px;
$body-top-margin: $nav-height + $nav-body-margin;
$container-sidebar-margin: 100% - $main-container-width - $sidebar-width;


html, body {
    height:100%;
    background-color: $light-silver;
}
#root {
    min-height:100%;
    position:relative;
}

.main-nav-bar {
    position: fixed;
    width: 100%;
    height: $nav-height;
    background-color: white;
    z-index: 999;
    @include box-grey-shadow($nav-box-shadow-width);
    background-color: white;
}

.main-body {
    @include vertical-center($body-max-width);
    padding-top: $body-top-margin;
    padding-bottom: $body-top-margin;
}

.main-container {
    float: left;
    display: inline;
    width: $main-container-width;
    margin-right: $container-sidebar-margin;
    background-color: white;
}

.main-sidebar {
    float: left;
    display: inline;
    width: $sidebar-width;
    @include box-grey-shadow($container-shadow-width);
    background-color: white;
}
