<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>${title}</title>
    <link rel="stylesheet" href="/static/css/blog.css" media="screen" title="no title" charset="utf-8">

</head>
<body>
    <div id="root">${html}</div>
    <script>
        window.__INITIAL_STATE__ = ${JSON.stringify(initialState)}
    </script>
    <script src="http://7xkpdt.com1.z0.glb.clouddn.com/libs.348172ab82b494835d50.0.js"></script>
    <script src="/static/js/bundle.js"></script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 博客 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-9240750359266096"
         data-ad-slot="9883600562"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</body>
</html>
