<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>test</title>
</head>
<body>
    <h1>博客重写中</h1>

    <p>
        方便大家找文章，我把几个不错的系列放上来。
        <a href="https://github.com/SimplyY/blog/tree/master/Article/%E7%BC%96%E7%A8%8B/web%20%E5%89%8D%E7%AB%AF/es6%E7%AE%80%E7%89%88%E5%85%A5%E9%97%A8">es6简版入门</a>
        <a href="https://github.com/SimplyY/blog/tree/master/Article/%E7%BC%96%E7%A8%8B/web%20%E5%89%8D%E7%AB%AF/js%20thinking">js thinking</a>
        <a href="https://github.com/SimplyY/blog/tree/master/Article/%E7%BC%96%E7%A8%8B/my">my</a>
        <a href="">编程</a>
    </p>

    <div class="">
        这段时间，想看我的博客的，其实我的所有博文都在 <a href="https://github.com/SimplyY/blog/tree/master/Article/%E7%BC%96%E7%A8%8B">github repo</a> 的，欢迎 star。 不过大家要在 repo 里找找，没博客那么方便。
    </div>

    <div class="">
        突然在<a href="https://github.com/SimplyY/blog/graphs/traffic">github 统计数据里</a>发现自己博客访问量相当不错。。。我来加点东西在这里
    </div>

    <article class="">

        首先，博客的后端开发完成十几天了（实际上刚刚修了一个小 bug），前端开发休息+学习花了一星期，最近四五天把 react + redux + router 的 spa 的数据加载和组件的数据流处理写完了。
        </p>

        <p>
        也就是说我要当几天页面仔了=。=，年初五前肯定能出前端第一版（不包括评论功能的所有功能，功能会很丰富），然后再花个三五天完成评论，之后还有图表功能、邮件提醒功能的计划，项目详情见 <a href="https://github.com/SimplyY/blog">github README</a>
        </p>

        <p>
            我现在在手写 html，大家多多 star 哈=。=，
        </p>
        <img src="http://7xkpdt.com1.z0.glb.clouddn.com/d024e28991ab5fa5c957788fc6108f71.png" alt="" />


    </article>
</body>
<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-71968674-1', 'auto');
    ga('send', 'pageview');
</script>

</html>
