<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>SimplyY's Blog</title>
</head>

<body>
    <div id="root"></div>

    <script src="//7xkpdt.com1.z0.glb.clouddn.com/libs.a7c6686f3ad36c905663.1.js"></script>
    <script src="/static/bundle.js"></script>

    <!-- blog ads-->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-9240750359266096"
         data-ad-slot="7067368564"
         data-ad-format="auto">
     </ins>
</body>

</html>
