$info-height: 1.5rem;

.personal-info {
    padding-top: 10px;

    .avator-info {
        padding: 10px 0;
        .avator {
            display: block;
            max-width: 80%;
            margin: 0 auto;
            border-radius: 50%;
        }
        .avator-name {
            font-size: 1.5rem;
            line-height: 2.8rem;
            padding-top: 5px;
            color: #666;
            font-weight: 300;
            @include vertical-center(5.5rem);
        }
    }

    .other-info {
        padding: 10px 3px;
        @include silver-border-top;
    }
    .github-info, .email-info, .zhihu-info, .weibo-info {
        height: $info-height;
        display: inline-block;
        font-weight: 400;
        .iconfont {
            display: inline-block;
            line-height: $info-height;
            margin-right: 0.375rem;
            font-size: 1.1rem;
        }
        a {
            position: absolute;
            font-size: 0.6rem;
            line-height: $info-height;
            @include reset-link-style($grey);
        }
        a:hover {
            @include reset-link-style(black);
        }
    }
    .github-info, .zhihu-info {
        width: 5.3rem;
    }
    .weibo-info, .email-info {
        width: 6rem;
    }
    .weibo-info {
        .iconfont {
            font-size: 1.25rem;
        }
    }
    .email-info {
        .iconfont {
            font-size: 1.1rem;
            padding: 0 1px;
        }
    }
}
