.scroll-top-button {
    position: fixed;
    right: 5.5rem;
    bottom: 2.5rem;

    width: 40px;
    height: 40px;

    cursor: pointer;
    border-radius: 50%;
    @include box-grey-shadow(4px);

    z-index: 1000;

    img {
        position: relative;
        top: -0.45px;
        left: -0.5px;

        opacity: 0.8;
        border-radius: 50%;
    }
}
