$vote-share-love-box-height: 60px;
$near-article-box-height: 60px;

.article-box {
    position: relative;
    padding-bottom: $vote-share-love-box-height + $near-article-box-height;

    @include box-grey-shadow($container-shadow-width);

    :target {
        @include anchor-highlight-animation(2.5s);
    }
}

.article {
    position: relative;
    padding: $main-container-padding-v + 10px $main-container-padding-h + 1px;
    @include silver-border-top();
}

.article-info {
    margin-bottom: 25px;

    font-size: $article-info-font-size;
    color: $grey;

    .author-info-wrapper, .date-info-wrapper, .article-print-tool {
        display: inline;
        margin-right: $article-info-right-margin;
    }

    .header {
        display: inline;
    }
    .header:after {
        content: ": ";
    }

    .info {
        display: inline;
    }

    .print-this-page {
        @include reset-link-style($grey);
    }
    .print-this-page:hover {
        color: black;
        text-decoration: underline;
    }
}

.iconfont.article-anchor {
    font-size: 20px;
    @include reset-link-style($light-grey);

    line-height: inherit;
    font-weight: 200;
    padding-left: 6px;
    padding-bottom: 3px;
}
.iconfont.article-anchor:hover {
    @include reset-link-style(black);
}

// for print article
@media print {
    .main-nav-bar, .main-sidebar, .article-info, .tag-chain, .love-share-box {
        display: none;
    }

    .content-table-button {
        display: none !important;
    }
    .content-table-sidebar.content-table-sidebar-show {
        width: 100% !important;
        position: static !important;
    }
    .main-body {
        position: static !important;
        transform: translate3d(0, 0, 0) !important;
    }

    .main-container {
        position: absolute;
        top: 0px;
        width: 100%;

        .article {
            border: 0px solid #000;
        }

        .iconfont.article-anchor {
            display: none;
        }
    }
}
