{% extends "base.html" %}

{% block head %}
{% load staticfiles %}
<link rel="stylesheet" href= {% static "css/github-markdown.css" %} charset="utf-8">
<link rel="stylesheet" href= {% static "css/article.css" %} charset="utf-8">

{% endblock %}

{% block main-content %}
{% include "current-tag.html" %}
<div class="update-time-wrapper">
    <p>
        博文更新时间：
    </p>
    <time>{{article.change_date}}</time>
</div>
<article id='article-md-preview' class='markdown-body'>{{article.content}}</article>
<div class="love-and-share">
    <div id='article-love-wrapper' class="article-love">
        <img id="love-article" src= "http://7xkpdt.com1.z0.glb.clouddn.com/15-10-7/47338222.jpg" alt="love" />
        <p>喜欢(</p>
        <p id="love-number">{{article.love_number}}</p>
        <p>)</p>

    </div>
    <div class="line">

    </div>
    <div class="share-number-wrapper">
        <img src='http://7xkpdt.com1.z0.glb.clouddn.com/15-10-7/26934945.jpg'  alt="share" />
        <p>分享(</p>
        <p id="share-number">{{article.share_number}}</p>
        <p>)</p>
    </div>

</div>
<div class="question">
     <p>
         感谢阅读。<br>
         如果有任何问题或者建议
         欢迎 在 <a href="https://github.com/SimplyY/Blog/">github</a> 开 issue 或者 <a  href="mailto:simplyyu@163.com?subject=feedback">发邮件</a> 给我。
     </p>
</div>
{% endblock %}

{% block end %}
<script src= {% static "js/preview-markdown.js" %} charset="utf-8"></script>
<script src= {% static "js/add-number.js" %} charset="utf-8"></script>

{% endblock %}
