{% extends "base.html" %}

{% block head %}
{% load staticfiles %}
<link rel="stylesheet" href= {% static "css/github-markdown.css" %} charset="utf-8">
<script src="https://dn-cdnjscn.qbox.me/ajax/libs/markdown.js/0.5.0/markdown.min.js"></script>
<link rel="stylesheet" href= {% static "css/article.css" %} charset="utf-8">

{% endblock %}

{% block main-content %}
{% include "current-tag.html" %}
<div class="update-time-wrapper">
    <p>
        博文更新时间：
    </p>
    <time>{{article.change_date}}</time>
</div>
<article id='article-md-preview' class='markdown-body'>{{article.content}}</article>
<div class="question">
     <p>
         感谢阅读。<br>
         如果有任何问题或者建议 <br>
         欢迎 在 <a href="https://github.com/SimplyY/Blog/">github</a> 开 issue 或者 <a  href="mailto:simplyyu@163.com?subject=feedback">发邮件</a> 给我。
     </p>
</div>
{% endblock %}

{% block end %}
<script src= {% static "js/preview-markdown.js" %} charset="utf-8"></script>

{% endblock %}
