{% extends "base.html" %}
{% block main-content %}
{% load staticfiles %}
<link rel="stylesheet" href={% static "css/author.css" %} media="screen" title="no title" charset="utf-8">

<div class="love-main-side">
    <div class="SimplyY-wrapper">
        <img class="SimplyY-image" src="https://cloud.githubusercontent.com/assets/8455579/9792076/ebc7a002-5810-11e5-994d-716271aadc43.jpg" alt="love cat" />
        <p id='SimplyY'>
            SimplyY
        </p>
    </div>
    <div>
        <p id='lovedays' class='lovedays'>
        </p>
    </div>
    <div class="lp-wrapper">
        <img class="lp-image" src="https://cloud.githubusercontent.com/assets/8455579/9792076/ebc7a002-5810-11e5-994d-716271aadc43.jpg" alt="love cat" />
        <p id='lp'>
            lp
        </p>
    </div>
</div>
<script src= {% static "js/tuodan.js" %} charset="utf-8"></script>
<script src="https://cdnjs.com/libraries/snabbt.js" charset="utf-8"></script>
<script src= {% static "js/my_animate.js" %} charset="utf-8"></script>

{% endblock %}
