{% extends "base.html" %}
{% block main-content %}
{% load staticfiles %}
<link rel="stylesheet" href= {% static "css/author.css" %} media="screen" title="no title" charset="utf-8">

<div class="love-main-side">
    <div class="SimplyY-wrapper">
        <img class="SimplyY-image" src="http://7xkpdt.com1.z0.glb.clouddn.com/mecat_mini.jpg" alt="love cat" />
        <p id='SimplyY'>
            SimplyY
        </p>
    </div>

    <div class="love">
        <p>
            love
        </p>
    </div>

    <div>
        <p class='lovedays'>
        </p>
        <p class='seconds'>
        </p>
    </div>

    <div class="lp-wrapper">
        <img class="lp-image" src="http://7xkpdt.com1.z0.glb.clouddn.com/mecat_mini.jpg" alt="love cat" />
        <p id='lp'>
            lp
        </p>
    </div>
</div>
<script src="http://libs.cncdn.cn/snabbt.js/0.5.4/snabbt.min.js" charset="utf-8"></script>
<script src= {% static "js/love-animate.js" %} charset="utf-8"></script>
<script src= {% static "js/tuodan.js" %} charset="utf-8"></script>



{% endblock %}
