<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>SimplyYu 的博客</title>

    {% load staticfiles %}
    <link rel="stylesheet" href= {% static "css/global.css" %}>
    <link rel="stylesheet" href= {% static "css/nav-bar.css" %}>
    <link rel="stylesheet" href= {% static "css/two-aside.css" %}>
    <link rel="stylesheet" href= {% static "css/article-list.css" %}>

    <script src= {% static "js/ajust-rem-size.js" %} charset="utf-8"></script>
</head>

<body>
    <div class="nav-bar">
        <ul class="ul-navbar">
            <li><a href="/home">SimplyYu </a></li>
            <li><a href="/tag/编程">编程</a></li>
            <li><a href="/tag/生活">生活</a></li>
            <li><a href="/tag/诗集">诗集</a></li>
            <li><a href="/tag/电影">电影</a></li>
            <li><a href="/author">作者</a> </li>
        </ul>
    </div>
    <div class="two-sides">
        <div class="main-content">
            {% block main-content %}

            {% endblock %}


        </div>
        <div class="sidebar">

            <div class="column-tag-list">
                <p>
                    专辑：
                </p>
                {% for tag in column_tag_list %}
                <a href="/tag/{{tag.name}}" class="column-tag">《 {{tag.name}} 》</a>
                {% endfor %}
            </div>
            <div class="about-me">
                <div>
                    <a href="/author">
                        <img class="avatar" src="https://avatars3.githubusercontent.com/u/8455579?v=3&s=460"/>
                    </a>
                <div class="contact">
                    <div class="email">
                        <a  href="mailto:simplyyu@163.com?subject=feedback">SimplyYu@163.com</a>
                    </div>
                    <div>
                        <a href="https://github.com/SimplyY">github</a>
                        <a href="http://www.zhihu.com/people/SimplyY">zhihu</a>
                        <a href="http://weibo.com/p/1005055391751756/home?from=page_100505&mod=TAB#place">weibo</a>
                    </div>
                </div>
            </div>


        </div>
    </div>

</body>
<script src= {% static "js/ajust-rem-size.js" %} charset="utf-8"></script>

</html>
