<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    {% if article %}
    <title>{{article.title}}</title>
    {% else %}
    <title>SimplyY 的博客</title>
    {% endif %}

    {% load staticfiles %}
    <link rel="stylesheet" href= {% static "css/global.css" %}>
    <link rel="stylesheet" href= {% static "css/nav-bar.css" %}>
    <link rel="stylesheet" href= {% static "css/two-aside.css" %}>
    <script src= {% static "js/ajust-rem-size.js" %} charset="utf-8"></script>
    <link rel="stylesheet" href= {% static "css/article-list.css" %}>

    {% block head %}

    {% endblock %}

</head>

<body>
    <div class="main-wrapper">
        <div class="nav-bar">
            <ul class="ul-navbar">
                <li><a href="/blog/home">SimplyY </a></li>

                {% for tag in first_tag_list %}
                    {% if tag.parent_tag == none %}
                    <li>
                        <a href="/blog/tag/{{tag.name}}"> {{tag.name}} </a>
                        <ul>
                        {% for second_tag in tag_list %}
                            {% if second_tag.parent_tag.name == tag.name%}
                                <li>
                                    <a href="/blog/tag/{{second_tag.name}}">{{second_tag.name}}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        </ul>

                    </li>

                    {% endif %}
                {% endfor %}
                <li><a href="/blog/author">作者</a> </li>
            </ul>
        </div>
        <div class="two-sides">
            <div class="main-content">
                {% block main-content %}

                {% endblock %}


            </div>
            <div class="sidebar">

                <div class="column-tag-list">
                    <p>精品系列</p>
                    {% for tag in column_tag_list %}
                    <a href="/blog/tag/{{tag.name}}" class="column-tag">《 {{tag.name}} 》</a>
                    {% endfor %}
                </div>
                <div class="about-me">
                    <div>
                        <a href="/blog/author">
                            <img class="avatar" src="http://7xkpdt.com1.z0.glb.clouddn.com/meSimplyY_mini.jpeg"/>
                        </a>
                    </div>
                    <div class="contact">
                        <div class="email">
                            <a  href="mailto:simplyyu@163.com?subject=feedback">SimplyYu@163.com</a>
                        </div>
                        <div>
                            <a href="https://github.com/SimplyY">github</a>
                            <a href="http://www.zhihu.com/people/SimplyY">zhihu</a>
                            <a href="http://weibo.com/p/1005055391751756/home?from=page_100505&mod=TAB#place">weibo</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

    <footer id="footer">
        <div class="footer-wrapper">
            <div class="footer-powered">
                <p>
                    Powered By
                </p> <a href="https://github.com/SimplyY">SimplyY</a>
            </div>
            <p class="footer-text-star">来github的</p>
            <a href="https://github.com/SimplyY/Blog/">博客项目地址</a>
            <p> star 一个吧</p>
        </div>

    </footer>

</body>
<script src="https://dn-cdnjscn.qbox.me/ajax/libs/markdown.js/0.5.0/markdown.min.js"></script>
<script src="https://dn-cdnjscn.qbox.me/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
{% block end %}

{% endblock %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71968674-1', 'auto');
  ga('send', 'pageview');

</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 广告1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9240750359266096"
     data-ad-slot="5154195368"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</html>
