<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>test</title>

    {% load staticfiles %}
    <link rel="stylesheet" href= {% static "css/global.css" %}>
    <link rel="stylesheet" href= {% static "css/nav-bar.css" %}>
    <link rel="stylesheet" href= {% static "css/two-aside.css" %}>
    <link rel="stylesheet" href= {% static "css/article-list.css" %}>
</head>

<body>
    <div class="nav-bar">
        <ul class="ul-navbar">
            <li><a href="">SimplyY </a></li>
            <li><a href="../tag/code">code</a></li>
            <li><a href="../tag/life">life</a></li>
            <li><a href="../tag/poem">poem</a></li>
            <li><a href="../tag/movie">movie</a></li>
            <li><a href="../author">author</a> </li>
        </ul>
    </div>

    <div class="main-content">
        <div class="current-tag">
        {% for tag in current_tags %}
            {% if tag.parent_tag %}
            »
            <a> {{tag.name}} </a>
            {% else %}
            <a> {{tag.name}} </a>
            {% endif %}
        {% endfor %}

        </div>
        <div class="article-list">
            {% for article in article_list %}
            <div class="article-item">

                <a href= {% url 'articles' article.id %}  >
                    <div class="title"> {{article.title}} </div>
                    <div class="time"> {{article.pub_date}} </div>
                </a>
            </div>
            {% endfor %}
        </div>

    </div>
    <div class="aside-sidebar">
    </div>
</body>
<script src= {% static "js/ajust-rem-size.js" %} charset="utf-8"></script>

</html>
