<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <title>test</title>

    {% load staticfiles %}
    <link rel="stylesheet" href= {% static "css/global.css" %}>
    <link rel="stylesheet" href= {% static "css/nav-bar.css" %}>
    <link rel="stylesheet" href= {% static "css/two-aside.css" %}>
    <link rel="stylesheet" href= {% static "css/article-list.css" %}>
</head>

<body>
    <div class="nav-bar">
        <ul class="ul-navbar">
            <li><a href="">SimplyY </a></li>
            <li><a href="">编程</a></li>
            <li><a href="#">生活</a></li>
            <li><a href="#">诗集</a></li>
            <li><a href="#">电影</a></li>
            <li><a href="#">作者</a> </li>
        </ul>
    </div>

    <div class="main-content">
        <div class="current-tag">
            <a>编程</a>
            »
            <a href="">web</a>
        </div>
        <div class="article-list">
            <div class="article-item">
                <div class="title">csapp</div>
                <div class="time">2013-05-22</div>
            </div>
            <div class="article-item">
                <div class="title">csapp</div>
                <div class="time">2013-05-22</div>
            </div>
        </div>

    </div>
    <div class="aside-sidebar">
    </div>
</body>
<script src= {% static "js/ajust-rem-size.js" %} charset="utf-8"></script>

</html>
