// layout
$nav-height: 45px;
$body-max-width: 90%;
$main-container-width: 70%;
$sidebar-width: 20%;
$footer-height: $nav-height;

// layout margin
$nav-body-margin: 30px;
$body-top-margin: $nav-height + $nav-body-margin;
$container-sidebar-margin: 5%;
$body-footer-margin: 50px;

// padding
$main-container-padding: 10px;

// box shadow
$nav-box-shadow-width: 26px;
$container-shadow-width: 12px;

//font-size
$nav-font-size: 20px;
