@mixin silver-border-top {
    border-top: 1.5px solid $silver;
}

@mixin reset-link-style($color: black) {
    color: $color;
    text-decoration: none;
}

@mixin box-grey-shadow($width: 20px){
    box-shadow: 0 0 $width grey;
}

@mixin vertical-center($max-width){
    max-width: $max-width;
    margin: 0 auto;
}

@mixin be-brey-animation(){
    animation: beGrey .4s ease-out 0s normal forwards;
}

.clear-float:after {
    content:".";
    display:block;
    height:0;
    visibility:hidden;
    clear:both;
}

@keyframes beGrey {
    from {
        background-color: $light-silver;
    }
    to {
        background-color: $silver-light-sand;
    }
}
