$vote-share-love-box-height: 60px;

.article-box {
    position: relative;
    padding-bottom: $vote-share-love-box-height;

    @include box-grey-shadow($container-shadow-width)

    :target {
        @include anchor-highlight-animation(2.5s)
    }
}

.article {
    position: relative;
    padding: 20px $main-container-padding-h;
    @include silver-border-top
}

.article-info {
    margin-bottom: 25px;

    font-size: $article-info-font-size;
    color: $grey;

    div {
        display: inline;
        margin-right: $article-info-right-margin;
    }

    label:after {
        content: ": ";
    }

    p {
        display: inline;
    }
}

.iconfont.article-anchor {
    @include reset-link-style($light-grey);
    font-weight: lighter;
    padding-right: 3px;
    padding-bottom: 3px;
}
.iconfont.article-anchor:hover {
    @include reset-link-style(black);
}
