.main-sidebar {
    font-size: 1rem;
    padding: 0.4rem 0.625rem;
}

.column-tags {
    .column-header {
        @include silver-border-top
        padding-left: 0.2rem;
        padding-top: 1.2rem;
    }

    .column-header:after {
        content: " :"
    }

    .column-list {
        padding: 8px 0;
        li {
            display: block;
        }
    }

    .column-item {
        margin: 1px;
        display: block;
        color: $deep-grey;
    }
    .column-item:hover {
        color: black;
        cursor: pointer;
    }

    $arrow-padding: 0.2rem;
    .column-item:before {
        content:"‹‹";
        @include arrow-char-style($arrow-padding)
    }

    .column-item:after {
        content:"››";
        @include arrow-char-style($arrow-padding)
    }
}
