$info-height: 25px;

.main-sidebar {
    padding: 7px 10px
}

.personal-info {
    padding-top: 10px;

    .avator-info {
        padding: 10px 0;
        .avator {
            display: block;
            max-width: 80%;
            margin: 0 auto;
            border-radius: 50%;
        }
        .avator-name {
            font-size: 24px;
            line-height: 45px;
            padding-top: 5px;
            color: #666;
            font-weight: 300;
            @include vertical-center(88px)
        }
    }

    .other-info {
        padding: 10px 3px;
        @include silver-border-top
    }

    .github-info, .email-info, .zhihu-info, .weibo-info {
        font-family: "Helvetica Neue", Helvetica, "PingFang SC", Arial, sans-serif;


        height: $info-height;
        display: inline-block;
        .iconfont {
            display: inline-block;
            line-height: $info-height;
            margin-right: 6px;
        }
        a {
            display: inline-block;
            font-size: 9px;
            line-height: $info-height;
            @include reset-link-style($grey)
        }
        a:hover {
            @include reset-link-style(black)
        }
    }
    .github-info, .zhihu-info {
        width: 80px;
    }
    .weibo-info {
        .iconfont {
            font-size: 20px;
        }
    }
    .email-info {
        .iconfont {
            font-size: 18px;
            padding: 0 1px;
        }
    }
}

.column-tags {
    .column-header {
        @include silver-border-top
        padding-left: 3px;
        padding-top: 20px;
    }

    .column-header:after {
        content: " :"
    }

    .column-list {
        padding: 8px 0;
    }

    .column-item {
        margin: 1px;
        display: block;
        color: $deep-grey;

    }
    .column-item:hover {
        color: black;
        cursor: pointer;
    }

    $arrow-padding: 3px;
    .column-item:before {
        content:"‹‹";
        @include arrow-char-style($arrow-padding)
    }

    .column-item:after {
        content:"››";
        @include arrow-char-style($arrow-padding)
    }
}
