$info-height: 25px;

.main-sidebar {
    padding: 7px 10px
}

.column-tags {
    .column-header {
        @include silver-border-top
        padding-left: 3px;
        padding-top: 20px;
    }

    .column-header:after {
        content: " :"
    }

    .column-list {
        padding: 8px 0;
        li {
            display: block;
        }
    }

    .column-item {
        margin: 1px;
        display: block;
        color: $deep-grey;
    }
    .column-item:hover {
        color: black;
        cursor: pointer;
    }

    $arrow-padding: 3px;
    .column-item:before {
        content:"‹‹";
        @include arrow-char-style($arrow-padding)
    }

    .column-item:after {
        content:"››";
        @include arrow-char-style($arrow-padding)
    }
}
