.love-and-share {
    display: inline-block;

    position: absolute;
    right: $main-container-padding-h + 2px;

    background-color: rgb(248, 248, 248);
    @include box-grey-shadow(6px)

    .love-box, .share-box {
        display: inline-block;
        padding: 3px 6px;

        cursor: pointer;
    }

    .article-love, .article-share, p {
        display: inline;
        color: $grey;
    }

    p {
        position: relative;
        top:-3px;
    }

    .article-love {
        font-size:26px;
    }
    .article-share {
        font-size:16px;
        padding-right:5px;

        position: relative;
        top:-3px;
    }
}
