$nav-font-size: 19px;
$menu-padding: 10px;

.main-nav-bar {
    font-size: $nav-font-size;

    .home {
        display: inline;
        margin-left: 36px;
        margin-right: 20px;
        @include reset-link-style;
    }

    // 默认直接显示
    .first-menus {
        display: inline-block;
        height: $nav-height;

        > li {
            display: inline-block;
            line-height: $nav-height;

        }
        > li:hover {
            @include be-brey-animation;

            // 显示下拉菜单
            .second-menus {
                display: block;
            }
        }
    }

    // 下拉菜单
    .second-menus {
        display: none;
        position: absolute;

        list-style: none;
        background-color: white;
        box-shadow: 0 5px 1.0rem grey;

        > li:hover {
            @include be-brey-animation;
        }
    }
}

.nav-tag-content {
    display: block;
    padding-left: $menu-padding;
    padding-right: $menu-padding;
    @include reset-link-style;
}
