.main-nav-bar {
    font-size: $nav-font-size;

    > ol {
        display: inline-block;
        height: $nav-height;

        > li {
            display: inline-block;
            line-height: $nav-height;
            padding-left: 10px;
            padding-right: 10px;
        }
        > li:hover {
            cursor: pointer;
            @include be-brey-animation
        }
    }

    p {
        display: inline;
        margin-left: 40px;
        margin-right: 20px;
        @include reset-link-style;
    }
    p:hover {
        cursor: pointer;
    }
}
