.tag-chain {
    padding: $main-container-padding-v $main-container-padding-h;

    li {
        display: inline-block;
    }

    a {
        @include reset-link-style(rgb(120,120,120));
    }

    a:hover {
        text-decoration: underline;
    }

    li:last-of-type a {
        color: black;
    }

    // element >=2
    li:nth-of-type(n+2):before{
        content:"›";
        @include arrow-char-style(7px)
    }
}
